.tintoretto {
    background-image: url("../IMG/dropdown-1-tintoretto.jpg");
}

.fridrich {
    background-image: url("../IMG/dropdown-1-fridrich.jpg");
}

.leonardo {
    background-image: url("../IMG/dropdown-1-leonardo.jpg");
}

.verrokkyo {
    background-image: url("../IMG/dropdown-1-verokkyo.jpg");
}

.mone {
    background-image: url("../IMG/dropdown-2-mone.jpg");
}

.sisley {
    background-image: url("../IMG/dropdown-2-sisley.jpg");
}

.mane {
    background-image: url("../IMG/dropdown-2-mane.jpg");
}

.renoir {
    background-image: url("../IMG/dropdown-2-renoir.jpg");
}

.vangog {
    background-image: url("../IMG/dropdown-3-vangog.jpg");
}

.sezann {
    background-image: url("../IMG/dropdown-3-sezann.jpg");
}

.gogen {
    background-image: url("../IMG/dropdown-3-gogen.jpg");
}

.syora {
    background-image: url("../IMG/dropdown-3-syora.jpg");
}

.kandinsky {
    background-image: url("../IMG/dropdown-4-kandinsky.jpg");
}

.marinetti {
    background-image: url("../IMG/dropdown-4-marinetti.jpg");
}

.malevich {
    background-image: url("../IMG/dropdown-4-malevich.jpg");
}

.picasso {
    background-image: url("../IMG/dropdown-4-picasso.jpg");
}

.karra {
    background-image: url("../IMG/dropdown-5-karra.jpg");
}

.pratella {
    background-image: url("../IMG/dropdown-5-pratella.jpg");
}

.severini {
    background-image: url("../IMG/dropdown-5-severini.jpg");
}

.balla {
    background-image: url("../IMG/dropdown-5-balla.jpg");
}